# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
lib/core/presentation/pages/main_layout_page.dart
lib/core/router/app_router.dart
lib/features/cart/presentation/pages/cart_page.dart
lib/features/help_center/presentation/pages/help_center_page.dart
lib/features/home/presentation/pages/home_page.dart
lib/features/product/domain/product.dart
lib/features/product/presentation/pages/brand_page.dart
lib/features/product/presentation/pages/product_detail_page.dart
lib/features/product/presentation/pages/product_list_page.dart
lib/features/profile/presentation/pages/order_details_page.dart
lib/features/profile/presentation/pages/profile_page.dart
lib/features/profile/presentation/providers/user_provider.dart
